/* Head*/
.head {
	font-size: 100px;
	font-weight: 700;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url(./pattern.jpeg);
	display: block;

}
/* Color heading*/
.brushes h2 {
	background-color: mediumspringgreen;
}
/* Color heading*/
.frames h2 {
	background-color: lightcoral;
}
/* Color heading*/
.paint h2 {
	background-color: skyblue;
}
/* Heading*/
h2 {
	font-size: 32px;
	font-weight: bold;
	color: white;
}
/* Blue bold price*/
.brushes strong.bold, .frames strong.bold, .paint strong.bold {
	font-weight: bold;
	color: blue;
}
body {
	font-family: Helvetica;
}